<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    <link href="/assets/css/main.min.css" rel="stylesheet">

    <script type="text/javascript" src="/assets/js/vendor.js"></script>

    <script type="text/javascript" src="/assets/js/lib.js"></script>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
        <% } %>
</head>

<body>
    <div id="App"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script type="text/javascript" src="<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
        <% } %>
</body>

</html>
