.fun_zone {
  background-color: #eee;
  padding: 8px 13px; }

.red {
  color: red; }

h2 {
  color: white;
  padding: 3px 18px;
  font-size: 1.8rem; }

#topper {
  background-color: #222; }

.editor_zone {
  background: #eee;
  padding: 25px 10px 10px;
  border-top: 15px #ccc solid; }
  .editor_zone h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 18px; }

#MemberList {
  background-color: #eee; }

#GoodEditor {
  background: #eee;
  padding: 25px 10px 10px;
  border-top: 15px #ccc solid; }

#MemberEditor {
  background: #eee;
  padding: 25px 10px 10px;
  border-top: 15px #ccc solid; }

#IntentionEditor {
  background: #eee;
  padding: 25px 10px 10px;
  border-top: 15px #ccc solid; }

#InviteEditor {
  background: #eee;
  padding: 25px 10px 10px;
  border-top: 15px #ccc solid; }

#VendorEditor {
  background: #eee;
  padding: 25px 10px 10px;
  border-top: 15px #ccc solid; }
