.fun_zone {
  background-color: #eee;
  padding: 8px 13px; }

.red {
  color: red; }

h2 {
  color: white;
  padding: 3px 18px;
  font-size: 1.8rem; }

.pager_zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .pager_zone a {
    width: 28px;
    height: 28px;
    border: 1px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3px 5px; }
  .pager_zone .current {
    color: black;
    border: 1px solid white;
    background-color: #eee; }

#topper {
  background-color: #222; }

.editor_zone {
  background: #eee;
  padding: 25px 10px 10px;
  border-top: 15px #ccc solid; }
  .editor_zone h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 18px; }

#MemberList {
  background-color: #eee; }

#GoodEditor {
  background: #eee;
  padding: 25px 10px 10px;
  border-top: 15px #ccc solid; }

#MemberEditor {
  background: #eee;
  padding: 25px 10px 10px;
  border-top: 15px #ccc solid; }

#IntentionEditor {
  background: #eee;
  padding: 25px 10px 10px;
  border-top: 15px #ccc solid; }

#InviteEditor {
  background: #eee;
  padding: 25px 10px 10px;
  border-top: 15px #ccc solid; }

#VendorEditor {
  background: #eee;
  padding: 25px 10px 10px;
  border-top: 15px #ccc solid; }

#StatsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  #StatsList .stat_zone {
    border: 1px solid white; }
